* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #020202;
    height: 100vh;
}
header {
    display: flex;
    justify-content: center;
    /* height: 20vh; */
}
h1 {
    color: #f5f5f5;
    font-size: 6rem;
    text-align: center;
    margin: 50px 0 100px 0;
}

body,
button,
.text-input,
.number-input {
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Roboto', sans-serif;
}



section.fl-center {
    display: flex;
    justify-content: center;
    /*height: 34vh;*/
}
#choose-playlist-div,
.form-title-span, 
.form-label-radio,
.form-label-nb,
.form-label-categories {
    color: white;
    font-size: 3rem;
}
.form-title-span {
    margin-bottom: 40px;
}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 40px;
    padding-left: 50px;
    padding-right: 10px;
    font-size: 30px;
    color: white;
}

input[type=radio] {
    display: none;
}
.form-label-radio:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 30px;
    position: absolute;
    left: 0;
    bottom: 12px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px, 1px, 0px, 0px, rgba(255,255,255,.8);
}
.form-group-radio label:before {
    border-radius: 18px;
}
.form-group-radio label.true:before {
    background-color: green;
}
.form-group-radio label.false:before {
    background-color: red;
}


input[type=checkbox] {
    display: none;
}
.form-label-category:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 30px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: red;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px, 1px, 0px, 0px, rgba(255,255,255,.8);
}
.form-group-checkbox label:before {
    border-radius: 18px;
}
input[type=checkbox]:checked + label:before {
    background-color: green;
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 30px;
    color: white;
    text-align: center;
      line-height: 39px;
  }


  .number-input {
    width: 100px;
    height: 70px;
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 39px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 15px;
  }


.form-group-playlists,
.form-group-radio,
.form-group-number,
.option-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist_div:hover {
    background-color: rgba(255,255,255,.5);
}
.chosen-playlist {
    background-color: #f5f5f5;
    color: #020202;
}

  .option-button {
    margin: 50px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    font-size: 2rem;
  }
  #fake-btn-count-down,
  #fake-btn-help,
  #fake-btn-nb-questions,
  #categories-btn {
      opacity: 0;
  }

.msg-error {
    display: none;
    color: red;
    font-size: 2.5rem;
    letter-spacing: 2px;
    /* margin-left: 15px; */
}
.msg-error--show {
    display: block;
}
.error {
    border: 2px solid red;
}

#back-message {
    color: red;
    font-size: 2.5rem;
    letter-spacing: 2px;
}


#teams-details,
#add-team-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#add-team-div {
    display: block;
    margin-bottom: 20px;
}
#add-teams-btn,
.add-player-btn,
#new-player-button {
    margin: 50px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    font-size: 2rem;
}
#nb-teams-error {
    font-size: 2rem;
    letter-spacing: 1.5px;
}
#teams-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 84vW;
}
.team-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 30px;
}
.text-input {
    min-width: 50px;
    height: 35px;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 3px;
    text-align: center;
    background-color: black;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 15px;
    color: white;
}



section#main-buttons {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#form-btn-div,
#do-it-again-div {
    opacity: 0;
}
#form-btn,
#do-it-again {
    margin: 50px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
}
#form-btn {
    font-size: 3rem;
}
#do-it-again {
    font-size: 2rem;
}



.pop-up {
    width: 60vw;
    /* height: 60vh; */
    position: absolute;
    top: 20vh;
    left: 20vw;
    background-color: rgba(86, 86, 86, 1);
    border-radius: 130px;
}
#title-color-choice-pop-up {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin: 30px 0;
}
#color-choice-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.color-div {    
    width: 166px;
    height: 80px;
    border-radius: 130px;
    margin: 10px 5px;
}



/* usely the display:flex overrides the hidden=true
    but not with that 
    !!! pay attention : the display: flex must be attribuated from a class not from an id or it won't hide anything
*/
[hidden] {
    display: none;
}