* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body,
button {
    font-family: 'Shadows Into Light', cursive;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #020202;
    color: #f5f5f5;

    header {
        display: flex;
        justify-content: center;
        /* height: 20vh; */

        h1 {
            color: #f5f5f5;
            font-size: 6rem;
            text-align: center;
            margin: 50px 0 100px 0;
        }
    }

    main {
        display: flex;
        justify-content: space-between;

        section#song_section {
            width: 60%;

            #song_div {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // display: flex;
                // flex-wrap: wrap;
                // justify-content: space-evenly;
                font-size: 2rem;

                #song-row {
                    display: flex;
                    justify-content: space-between;

                    #song-infos_div {
                        display: flex;
                        justify-content: space-around;

                        #song-infos-titles_div,
                        #song-infos-values_div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }

                        #song-infos-values_div {
                            align-items: center;
                        }
                    }

                    #song-img_div {
                        width: 300px;
                        height: 300px;
                        background-image: url("../img/mr_machrichard.jpg");
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }

                #music-player_div {
                    display: flex;
                    justify-content: center;
                    margin-top: 30px;
                }
            }
        }

        #teams-score_section,
        #players-score_section {
            display: inline-block;
            width: 250px;

            #teams-score_div,
            #players-score_div {
                display: flex;
                flex-direction: column;

                .team_div,
                .player_div {
                    display: flex;
                    justify-content: space-between;

                    .team-name_div {
                        cursor: pointer;
                        text-align: right;
                        font-size: 2rem;
                    }

                    .player-name_div {
                        cursor: pointer;
                        text-align: left;
                        font-size: 2rem;
                    }
                    
                    .team-score_div,
                    .player-score_div {
                        text-align: center;
                        font-size: 2rem;
                    } 

                    .team-name_div,
                    .player-name_div {
                        width: 200px;
                    }

                    .team-score_div,
                    .player-score_div {
                        width: 50px;
                    }
                }
                .player_div {
                    flex-direction: row-reverse;
                }
            }
        }
    }
}