<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display help and results</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/assets/css/game.css">

</head>
<body>
   <!-- <header>
        <h1>blind test</h1>
    </header>
-->
    <main>    
        <!-- used to display teams scores -->
        <section id="teams-score_section">
            <div id="teams-score_title">&Eacute;quipes</div>
            <div id="teams-score_div"></div> 

        </section>




     
        <!-- Infos about the pending / playing / played song -->
        <section id="song_section">
            <div id="song_div">
                <!-- songs infos -->
                <div id="song-row">
                    <div id="song-infos_div">
                      <!--  <div id="song-infos-category_div" class="song-information">
                            <div id="song-category">Catégorie : </div>
                            <div class="song-info-value" id="song-category-value"></div>
                        </div>
                        <div id="song-infos-points_div" class="song-information">
                            <div id="song-points">Nombre de points :</div>
                            <div class="song-info-value" id="song-points-value"></div>
                        </div>
                        <div id="song-infos-titles_div" class="song-information">
                            <div id="song-title">Titre en cours : </div>
                            <div class="song-info-value" id="song-title-value">{{ song.title }}</div>
                        </div>
                        <div id="song-infos-singer_div" class="song-information">
                            <div id="song-singer">Interprète : </div>
                            <div class="song-info-value" id="song-singer-value"> {{ song.singer }}</div>
                        </div>
                        -->
                    </div>
                    
                    
                    <!-- here we'll fill this div with css background-image -->
                    <div id="song-infos-solution_div" class="song-information">
                        <div class="song-info-value" id="song-solution-value"></div>
                    </div>
                    <div id="song-img_div" style="background-image: url(public/assets/img/{{ song.picture }})">
                <!--        <img src="public/img/{{ song.picture }}" alt="Une photo de {{ song.singer }}"> -->
                    </div>
                </div>
            </div>
        </section>




        <!-- used to display players scores -->
        <section id="players-score_section">
            <div id="players-score_title">Joueurs</div>
            <div id="players-score_div"></div>
        </section>
    </main>



    <script>
        var teamsDivs = document.querySelector('#teams-score_div');
        var playersDiv = document.querySelector('#players-score_div');
        var categoryDiv = document.querySelector('#song-category-value');
        var songPointsDiv = document.querySelector('#song-points-value');
        var songPictureDiv = document.querySelector('#song-img_div');
        var songSolutionDiv = document.querySelector('#song-solution-value');

        // waiting for the message from admin page
        window.addEventListener('message', function(e) {	
        var origin = e.origin;
            // Adding this line protect from code injection ;)
            if( origin !== 'http://localhost:8080')	return;

            console.log('response : ' + e.data.purpose + '<br');

            switch (e.data.purpose) {

                case 'player':
                    pointsForAPlayer(e.data);
                    break;
                case 'team':
                    pointsForATeam(e.data);
                    break;
                case 'category':
                    displayCategory(e.data);
                    break;
                case 'points':
                    displaySongPoints(e.data);
                    break;
                case 'picture':
                    displaySongPicture(e.data);
                // style="background-image: url(public/assets/img/{{ song.picture }})
                    break;  
                case 'solution': 
                    displaySongSolution(e.data);
                    break;
                case 'singer':
                    break;
                case 'clean': 
                    cleanLastSongInfos(e.data);
                    break;
                case 'teams':
                    buildTeamsDiv(e.data);
                    break;
                case 'players': 
                    buildPlayersDiv(e.data);
                    break;
                case 'end':
                    endGame(e.data);
                    break;
            }


         /*   document.getElementsByTagName('p')[0].innerHTML = 'Message from admin page :  ' + e.data;
            document.getElementsByTagName('p')[0].innerHTML += 'Message from admin page :  ' + e.data.response;
            document.getElementsByTagName('p')[0].innerHTML += 'Message from admin page :  ' + e.data.nbrTeams;
            document.getElementsByTagName('p')[0].innerHTML += 'Message from admin page :  ' + e.data.team_1;
            document.getElementsByTagName('p')[0].innerHTML += 'Message from admin page :  ' + e.data.team_2;
            document.getElementsByTagName('p')[0].innerHTML += 'Message from admin page :  ' + e.data.team_2.score;
            console.log('Message from main page:  ' + e.data);
            */
            //console.log('def: ' + JSON.parse(e.data));
          //  console.log('def: ' + e.data);
        }, false);

        // a player has won this song
        function pointsForAPlayer (data) {
            var playerScoreDiv = document.querySelector('#score-player_' + data.playerId);
            playerScore = playerScoreDiv.innerHTML;
            playerScoreDiv.innerHTML = parseInt(playerScore) + parseInt(data.points);

            console.log( 'this player (' + data.playerId + ') just won ' + data.points + ' ppoint(s)' );
            // we need to sort the score div
            sortScoreDiv('player');
        }
        // a team has won this song
        function pointsForATeam (data) {
            var teamScoreDiv = document.querySelector('#score-team_' + data.teamId);
            teamScore = teamScoreDiv.innerHTML;
            teamScoreDiv.innerHTML = parseInt(teamScore) + parseInt(data.points);
            console.log( 'this team (' + data.teamId + ') just won ' + data.points + ' ppoint(s)' );
            // we need to sort the score div
            sortScoreDiv('team');
        }

        // display category
        function displayCategory (data) {
           // console.log('data.song.category : ' + data.category);
           // UNCOMMENT AS SOON AS USED AGAIN
           // categoryDiv.innerHTML = data.category;
        }

        // display the number of points for this song
        function displaySongPoints (data) {
            console.log('data.song.points : ' + data.points);
            /* UNCOMMENT THIS AS SOON AS WE USE DIFFERENTS POINTS ACCORDING TO SONG DIFFICULTY
            songPointsDiv.innerHTML = data.points;
            */
        }

        // display the song picture 
        function displaySongPicture (data) {
            console.log('song picture : ' + data.picture);
            if (data.picture !== '') {
                songPictureDiv.style.backgroundImage = 'url(public/assets/img/' + data.picture + ')';
            } else {
                songPictureDiv.style.backgroundImage = 'none';
            }
        }

        // display the song solution
        function displaySongSolution (data) {
            console.log('song solution : ' + data.solution);
            songSolutionDiv.innerHTML = data.solution;
        }

        // remove last song infos
        function cleanLastSongInfos () {
          //  categoryDiv.innerHTML = '';
         //   songPointsDiv.innerHTML ='';
          //  songPictureDiv.style.backgroundImage = '';
          //  songSolutionDiv.innerHTML = '';
          data = {};
          data.picture = '';
          displaySongPicture(data);
          data.solution = '';
          displaySongSolution(data);
        }

        // end of the game 
        function endGame (data) {
            songSolutionDiv.innerHTML = data.end;
        }

        // teams has arrived by postMessage() from admin page
        function buildTeamsDiv (data) {

            console.log(data);
            console.log('dataaaaaaaaaaaa : ' + data.teams[0].id);
            console.log(data);
            Object.keys(data.teams).forEach(function(k){

                var teamDiv = document.createElement('div');
                teamDiv.id = 'team-' + data.teams[k]['id'] + '_div';
                teamDiv.classList.add('team_div');
                teamsDivs.appendChild(teamDiv);

                var teamNameDiv = document.createElement('div');
                teamNameDiv.id = 'name-team_' + data.teams[k]['id'];
                teamNameDiv.setAttribute('data-teamid', data.teams[k]['id']);
                teamNameDiv.classList.add('team-name_div');
                teamNameDiv.innerHTML = data.teams[k]['name'];
                teamNameDiv.style.color = data.teams[k].color;
                //teamDiv.appendChild(teamNameDiv);

                var teamScoreDiv = document.createElement('div');
                teamScoreDiv.id = 'score-team_' + data.teams[k]['id'];
                teamScoreDiv.setAttribute('data-teamid', data.teams[k]['id']);
                teamScoreDiv.classList.add('team-score_div');
                teamScoreDiv.innerHTML = 0;
                //teamDiv.appendChild(teamScoreDiv);
                teamDiv.innerHTML+= teamNameDiv.outerHTML + teamScoreDiv.outerHTML;

             //   console.log(k + ' - ' + data.teams[k]['id'] + ' ' + data.teams[k]['color'] + '<br>');
            });

        }




        // players have just arrived by message from admin page
        function buildPlayersDiv (data) {

            Object.keys(data.players).forEach(function(k){

                var playerDiv = document.createElement('div');
                playerDiv.id = 'player-' + data.players[k]['id'] + '_div';
                playerDiv.classList.add('player_div');
                playersDiv.appendChild(playerDiv);

                var playerNameDiv = document.createElement('div');
                playerNameDiv.id = 'name-player_' + data.players[k]['id'];
                playerNameDiv.setAttribute('data-playerid', data.players[k]['id']);
                playerNameDiv.classList.add('player-name_div');
                playerNameDiv.innerHTML = data.players[k]['name'];
                playerNameDiv.style.color = data.players[k].color;
               // playersDiv.appendChild(playerNameDiv);

                var playerScoreDiv = document.createElement('div');
                playerScoreDiv.id = 'score-player_' + data.players[k]['id'];
                playerScoreDiv.setAttribute('data-playerid', data.players[k]['id']);
                playerScoreDiv.classList.add('player-score_div');
                playerScoreDiv.innerHTML = 0;
              //  playerDiv.appendChild(playerScoreDiv);

                playerDiv.innerHTML = playerNameDiv.outerHTML + playerScoreDiv.outerHTML;

             //   console.log(k + ' - ' + data.teams[k]['id'] + ' ' + data.teams[k]['color'] + '<br>');
            });

        }



        function sortScoreDiv (groupToSort) {

            console.log(groupToSort);
            var divToSort = document.querySelectorAll('.' + groupToSort + '-score_div');
          //  <div id="teams-score_div"></div> 
           // <div id="players-score_div"></div>
            console.log('divToSort ' + divToSort);
            var scoresById = [];

            for (let i = 0; i < divToSort.length; i++) {
                console.log('id : ' + divToSort[i].getAttribute('data-' + groupToSort + 'id'));
                let scoreByIdForThis = {
                                        id: divToSort[i].getAttribute('data-' + groupToSort + 'id'),
                                        score: divToSort[i].innerHTML
                }

                scoresById.push(scoreByIdForThis);
                console.log('scoresById ' + scoresById);
            }
            console.log('scoresById final ' + scoresById);

            var sortedByScore = scoresById.slice(0);
            console.log('sortedByScore ' + sortedByScore);

            sortedByScore.sort(function(a,b) {
                return b.score - a.score;
            });

            for (i = 0; i < sortedByScore.length; i++) {

                console.log('-' + sortedByScore[i].id);
                let thisDiv = document.querySelector('#' + groupToSort + '-' + sortedByScore[i].id + '_div');
                thisDiv.style.order = '-' + sortedByScore[i].score; 
                console.log(thisDiv);
            }
        }
            
      //  teamDiv.id = 'team-' + data.teams[k]['id'] + '_div';

      //  playerDiv.id = 'player-' + data.players[k]['id'] + '_div';
   
    </script>
    
</body>
</html>